# SPDX-FileCopyrightText: 2026 Andrey Kotlyar <guitar0.app@gmail.com>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
NEXT_PUBLIC_API_URL=https://api.staging.guitar0.net
NEXT_PUBLIC_SITE_URL=https://staging.guitar0.net
OPENAPI_SCHEMA_URL=https://api.staging.guitar0.net/api/v1/schema/
GIT_SHA=dev
# PostHog — leave empty in development
# NEXT_PUBLIC_POSTHOG_KEY=
